{% extends "layout.html" %}
{% block content %}
    <div style="font-size: 50px; color: red; font-weight: 800;">This Page is under Development. Don't use it!</div>

    <div class="wrapper">
        <h2>Reset Password</h2>
        <form method="POST" action="/reset_password">
            <div class="field">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div>
                <input type="hidden" name="email" value="{{ email }}">
                <input type="hidden" name="username" value="{{ username }}">
                <input type="submit" value="Reset Password">
            </div>
        </form>
    </div>
{% endblock %}