{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <div class="title">Reset Password</div>
        <form method="POST" action="">
            
            <div class="field">
                <input type="password" name="password" id="password" required>
                <label>Password</label>
            </div>

            <div class="field">
                <input type="submit" value="Create Account">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
